.container {
  margin: 0 auto;
  padding: 5rem 0;
  max-width: 40rem;
}

@media (min-width: 67rem) {
  .container {
    max-width: 67rem;
    padding: 7rem 0;
  }
}

.container * {
  background-color: transparent;
}